.search_input {
  border: 0.1rem solid skyblue;
  border-radius: 0.5rem;
  font-size: large;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.search_btn {
  border: 0.1rem solid skyblue;
  background-color: white;
  border-radius: 0.5rem;
  font-size: large;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.search_btn:hover {
  background-color: rgb(231, 248, 253);
}

.a {
  text-decoration: none;
  color: black;
}
