.post_container {
  margin: 1rem;
  border: 0.1rem skyblue solid;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  padding: 0.5rem;
}

.post_text {
  margin: 0.3rem;
}

.post_container:hover {
  background-color: rgb(231, 248, 253);
  cursor: pointer;
}

.a {
  border: 0.1rem skyblue solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  text-decoration: none;
  color: black;
  width: 90%;
  text-align: center;
}
